.App {
  text-align: center;
}

.person-marker {
  width: 15px;
  height: 15px;
  border-radius: 15px;  
}


.ancestry1 {  
  background-color: #d53e4f;
}

.ancestry2 {  
  background-color: #f46d43;
}

.ancestry3 {  
  background-color: #fdae61;
}

.ancestry4 {  
  background-color: #fee08b;
}

.ancestry5 {  
  background-color: #ffffbf;
}

.ancestry6 {  
  background-color: #e6f598;
}

.ancestry7 {  
  background-color: #abdda4;
}

.ancestry8 {  
  background-color: #66c2a5;
}

.ancestry9 {  
  background-color: #3288bd;
}